<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruanko.mapper.ArticleMapper">
	<resultMap id="BaseResultMap" type="com.ruanko.pojo.entity.Article">
		<result column="id" property="id" />
		<result column="title" property="title" />
		<result column="author" property="author" />
		<result column="content" property="content" />
	</resultMap>

	<parameterMap id="Article" type="com.ruanko.pojo.entity.Article"/>

	<sql id="Base_Column_List">
		id, title, author, content
	</sql>

	<insert id="insert" parameterMap="Article">
		insert into article (
			title, author, content
		)
		values (#{title},#{author},#{content})
	</insert>

	<update id="update" parameterMap="Article">
		update
		 	 article
		<trim prefix="set" suffixOverrides=",">
			<if test="title!=null and title!=''">
				title = #{title},
			</if>
			<if test="author!=null and author!=''">
				author = #{author},
			</if>
			<if test="content!=null and content!=''">
				content = #{content},
			</if>
		</trim>
		  where id= #{id}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="Integer">
		delete from  article where id=#{id}
	</delete>

	<select id="findAll" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List"></include>
		from article
	</select>

	<select id="findByPrimaryKey" parameterType="Integer" resultType="Article">
		select
		<include refid="Base_Column_List"></include>
		from article where id=#{id}
	</select>

	<select id="findByEntity" parameterMap="Article" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"></include>
		from article
		<where>
			<if test="id!=null and id!=''">
				and id = #{id}
			</if>
			<if test="title!=null and title!=''">
				and title = #{title}
			</if>
			<if test="author!=null and author!=''">
				and author = #{author}
			</if>
			<if test="content!=null and content!=''">
				and content = #{content}
			</if>
		</where>
	</select>
</mapper>
