<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.ruanko.mapper.UserMapper">

	<!-- 结果映射 -->
	<resultMap id="BaseResultMap" type="com.ruanko.pojo.entity.User">
		<result column="id" property="id" />
		<result column="username" property="username" />
		<result column="password" property="password" />
		<result column="age" property="age" />
	</resultMap>

	<!-- 建议去掉 parameterMap，改用 parameterType -->

	<!-- 基础列 -->
	<sql id="Base_Column_List">
		id, username, password, age
	</sql>

	<!-- 插入列定义，必须定义，供insert引用 -->
	<sql id="Insert_Column_List">
		username, password, age
	</sql>

	<!-- 插入语句 -->
	<insert id="insert" parameterType="com.ruanko.pojo.entity.User">
		insert into user (
		<include refid="Insert_Column_List"/>
		) values (
		#{username}, #{password}, #{age}
		)
	</insert>

	<!-- 更新语句 -->
	<update id="update" parameterType="com.ruanko.pojo.entity.User">
		update user
		<set>
			<if test="username != null and username != ''">
				username = #{username},
			</if>
			<if test="password != null and password != ''">
				password = #{password},
			</if>
			<if test="age != null">
				age = #{age},
			</if>
		</set>
		where id = #{id}
	</update>

	<!-- 删除语句 -->
	<delete id="delete" parameterType="int">
		delete from user where id = #{id}
	</delete>

	<!-- 查询全部 -->
	<select id="findAll" resultMap="BaseResultMap">
		select * from user
	</select>

	<!-- 根据条件查询 -->
	<select id="findByEntity" parameterType="com.ruanko.pojo.entity.User" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
		<where>
			<if test="username != null and username != ''">
				and username = #{username}
			</if>
			<if test="password != null and password != ''">
				and password = #{password}
			</if>
			<if test="age != null">
				and age = #{age}
			</if>
		</where>
	</select>

	<!-- 根据用户名和密码查询 -->
	<select id="findByUsernameAndPassword" parameterType="com.ruanko.pojo.entity.User" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from user
		where username = #{username} and password = #{password}
	</select>

	<!-- 根据用户名查询 -->
	<select id="findByUsername" parameterType="String" resultMap="BaseResultMap">
		select * from user where username = #{username}
	</select>

</mapper>
